*{
    background-color: rgb(243, 227, 227);
}
.header{
    color: rgb(168, 118, 71);
    display: flex;
    padding: 5px 0;
    background: rgb(0, 0, 0);
}

.header h1{
    color: rgb(144, 201, 98);
    background-color: black;
}
